---
---

@import "custom-bootstrap-variables";
@import "bootstrap-sass/bootstrap";

$space-xs: $line-height-computed * 1;
$space-sm: $line-height-computed * 1.5;
$space-md: $line-height-computed * 2;

h2 {
  margin-top: $line-height-computed * 1.5;
  margin-bottom: $line-height-computed * 0.25;
}
h3 {
  text-transform: uppercase;
  margin-bottom: $line-height-computed * 0.25;
}

.lead {
  @media (min-width: $screen-sm-min) {
    font-size: $blockquote-font-size;
  }
}

.btn {
  font-family: $headings-font-family;
}

.section-header {
  margin-top: 0;
}
.section-header-archive {
  margin-top: 0;
}
.section-header-archive ~ .section-header-archive {
  margin-top: $space-md;
}

.navbar-brand {
  font-family: 'Oleo Script Swash Caps', $headings-font-family;
  font-size: 40px;
  font-weight: 100;
  margin-right: 25px;
}
.navbar {
  font-family: $headings-font-family;
}
.navbar-static-top {
  margin-bottom: $space-sm;
}

.social-media {
  font-size: $font-size-small;
}

.links {
  font-size: 20px;
}

.page-archive {
  margin-bottom: $space-md;
}

.footer {
  margin: $space-sm 0 $space-sm;
  font-size: $font-size-small;
  color: $gray-light;
}

@media(max-width: $screen-xs-max) {
  .navbar-header {
    text-align: center;
  }
  .navbar-brand {
    display: inline-block;
    float: none;
  }
  .navbar-toggle-wrapper {
    position: absolute;
    left: $navbar-padding-horizontal;
    height: ($navbar-height + 34px) / 2;
  }
}

@import "custom-scss";
