<li class="hidden-xs social-media">
  <a href="https://github.com/ianks">
    <i class="fa fa-github fa-2x" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30" style="margin&#45;top: 14px;"></i>
  </a>
</li>
<li class="hidden-xs social-media">
  <a href="https://twitter.com/iONik_beetz">
    <i class="fa fa-twitter fa-2x" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30" style="margin&#45;top: 14px;"></i>
  </a>
</li>
<li class="hidden-xs social-media">
  <a href="https://www.linkedin.com/pub/ian-ker-seymer/5b/16a/325/">
    <i class="fa fa-linkedin fa-2x" allowtransparency="true" frameborder="0" scrolling="0" width="170" height="30" style="margin&#45;top: 14px;"></i>
  </a>
</li>
