<!DOCTYPE html>
<html>
  <head>
    {% include google_analytics.html %}
    {% include head.html %}
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-toggle-wrapper visible-xs">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".js-navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <a href="{{ "/" | prepend:site.baseurl }}" class="navbar-brand">{{ site.title }}</a>
        </div>
        <div class="collapse navbar-collapse js-navbar-collapse">
          <ul class="navbar-nav nav">
            {% include nav.html %}
          </ul>
          <ul class="navbar-nav nav navbar-right">
            {% include nav-right.html %}
          </ul>
        </div>

        <hr>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {% if page.hide_sidebar or site.data.theme.hide_sidebar %}
          <div class="col-sm-12">{{ content }}</div>
        {% else %}
          <div class="col-sm-8">{{ content }}</div>
          <div class="col-sm-4">{% include sidebar.html %}</div>
        {% endif %}
      </div>

      <div class="row footer">
        <div class="col-sm-12 text-center">
          {% include footer.html %}
        </div>
      </div>
    </div>

    {% include scripts.html %}
  </body>
</html>
